<h3>Application development using Angular</h3>
<hr>
<table  style="border:2px solid black; width:300px;">
  <th  colspan=2 style="text-align:center;">Employee Details</th>
  <tr>
    <td>Employee ID</td>
    <td>{{employeeId}}</td>
  </tr>
  <tr>
    <td>Employee Name</td>
    <td>{{employeeName}}</td>
  </tr>
  <tr>
    <td>Employee Job</td>
    <td>{{employeeJob}}</td>
  </tr>
  <tr>
    <td>Employee Salary</td>
    <td>{{employeeSalary}}</td>
  </tr>
  <tr>
    <td>Employee Deptno</td>
    <td>{{employeeDeptNo}}</td>
  </tr>
</table>
